table.data-types {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

table.data-types th, table.data-types td {
    padding: 4px 8px;
}

table.data-types thead th {
    background: #4f81bd;
    text-transform: lowercase;
    text-align: left;
    font-size: 15px;
    color: #fff;
}

table.data-types tr {
    border-right: 1px solid #95b3d7;
}

table.data-types tbody tr {
    border-bottom: 1px solid #95b3d7;
}

table.data-types tbody tr:nth-child(odd) {
    background: #dbe5f0;
}

table.data-types tbody th, table.data-types tbody tr:nth-child(even) td {
    border-right: 1px solid #95b3d7;
}

table.data-types tfoot th {
    background: #4f81bd;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
}

table.data-types tbody tr *:nth-child(3), table.data-types tr *:nth-child(4) {
    text-align: right;
}