.colorCD5C5C { background: #CD5C5C; }
.colorDC143C { background: #DC143C; }
.color8B0000 { background: #8B0000; }
.colorFFC0CB { background: #FFC0CB; }
.colorC71585 { background: #C71585; }
.colorFF69B4 { background: #FF69B4; }
.color32CD32 { background: #32CD32; }
.color00FA9A { background: #00FA9A; }
.colorADFF2F { background: #ADFF2F; }
.color2E8B57 { background: #2E8B57; }
.color006400 { background: #006400; }
.color00FF00 { background: #00FF00; }
.color9ACD32 { background: #9ACD32; }
.color808000 { background: #808000; }
.colorFFA07A { background: #FFA07A; }
.colorFF4500 { background: #FF4500; }
.colorFFA500 { background: #FFA500; }
.colorBC8F8F { background: #BC8F8F; }
.colorD2691E { background: #D2691E; }
.color8B4513 { background: #8B4513; }
.colorF4A460 { background: #F4A460; }
.colorA52A2A { background: #A52A2A; }
.color800000 { background: #800000; }